"""<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FLASK</title>
  </head>
  <body>
   <form><fieldset>


    <fieldset style="background-color:red;">
     email<input type="email"><br>
     <input type="text" value="entername"><br/>
     <input type="password"><br/>
     hello<input type="checkbox"><br/>
     helo<input type="checkbox"><br/>
     hlo<input type="checkbox"><br/>
     <br/></fieldset>
     mail<input name="jans" type="radio">
     femail<input name="jans" type="radio"><br>

     chose file<input type="file">
    <input type="range">
     <input type="button" value="send"><br>
    <select>
      <option value="red">red</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select><br>
    <textarea rows="10" cols="20">

    </textarea><br>
       </fieldset>
     <!--
     <input>
     <select> </select>
     <textarea> </textarea>
     <fieldset> </fieldset>
      -->
   </form>
  </body>
 </html>"""
 